__pycache__
.env
_old
uploads
.ipynb_checkpoints
*.db
_test
Pipfile
!/data
/data/*
/open_webui/data/*
.webui_secret_key
/logs/*
*.log
run_with_venv.sh
/chatAmeritas_venv/
/chatAmeritas_venv*
/cache
/cache/*
/tmp/*
/user-network/*
/models/*
/static/*
/topic_models/*